body {
  background-color: black;
  color: lime;
  font-family: 'Courier New', monospace;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  overflow: hidden;
}

#terminal-container {
  width: 100%;
  max-width: 600px;
}

#terminal {
  padding: 20px;
  white-space: pre-wrap;
  overflow: hidden;
}
footer {
  text-align: right;
  padding: 10px;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-right: 20px;
}

footer p {
  margin: 0;
}

a {
  color: lime; 
  text-decoration: none;
}

a:hover {
  text-decoration: underline; 
}